<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kitri.web_project.mybatis.mappers.BoardMapper">
    <sql id="responseColumns">
        title, created_at as createdAt, content, view_count as viewCount, comment_count as commentCount, like_count as likeCount, category
    </sql>

    <select id="getBoards" parameterType="int" resultType="com.kitri.web_project.dto.BoardInfo">
        select free_board.id as id, <include refid="responseColumns" />,
               free_board.user_id as userId,
        (select COUNT(*) FROM free_board where subject = #{subject}) AS totalRowCount,
        nick_name as writer
        from free_board join user on user.id = user_id
        WHERE subject = #{subject}
        order by created_at desc
        limit #{offset}, #{limit}
    </select>

    <insert id="uploadBoard"   useGeneratedKeys="true" keyProperty="id" parameterType="com.kitri.web_project.dto.board.RequestBoard">
        INSERT INTO free_board (user_id, content, title, category, subject)
        VALUES (#{userId}, #{content}, #{title}, #{category}, #{subject})
    </insert>

    <select id="getSearchBoards" parameterType="com.kitri.web_project.dto.board.SearchDTO" resultType="com.kitri.web_project.dto.BoardInfo">
        SELECT free_board.id as id, <include refid="responseColumns" />,
        free_board.user_id as userId,
        (SELECT COUNT(*)
        FROM free_board
        JOIN user ON user.id = user_id
        <if test="type == 'tag'">
            JOIN board_tag ON board_tag.board_id = free_board.id
        </if>
        WHERE subject = #{subject}
        <choose>
            <when test="type == 'content'">
                AND content LIKE #{search}
            </when>
            <when test="type == 'tag'">
                AND board_tag.tag LIKE #{search}
            </when>
            <when test="type == 'title'">
                AND title LIKE #{search}
            </when>
        </choose>) AS totalRowCount,
        nick_name as writer
        FROM free_board join user on user.id = user_id
        <if test="type == 'tag'">
            JOIN board_tag ON board_tag.board_id = free_board.id
        </if>
        WHERE subject = #{subject}
        <choose>
            <when test="type == 'content'">
                AND content LIKE #{search}
            </when>
            <when test="type == 'tag'">
                AND board_tag.tag LIKE #{search}
            </when>
            <when test="type == 'title'">
                AND title LIKE #{search}
            </when>
        </choose>
        <if test="type1 == 'Latest'">
            ORDER BY created_at DESC
        </if>
        <if test="type1 == 'Oldest'">
            ORDER BY created_at ASC
        </if>
        LIMIT #{offset}, #{limit}
    </select>


    <select id="getBoard" parameterType="long" resultType="com.kitri.web_project.dto.BoardInfo">
        select free_board.id as id, <include refid="responseColumns" />,
        free_board.user_id as userId,
        (select COUNT(*) FROM free_board where subject = #{subject}) AS totalRowCount,
        nick_name as writer
        from free_board join user on user.id = user_id
        WHERE subject = #{subject}
        order by created_at desc
        limit #{offset}, #{limit}
    </select>


    <insert id="setTag"  parameterType="com.kitri.web_project.dto.board.TagSet">
        INSERT INTO board_tag (board_id, tag)
        VALUES (#{id}, #{tag})
    </insert>


    <select id="getTags" parameterType="long" resultType="string">
        select tag from board_tag
        WHERE board_id = #{id};
    </select>


</mapper>