<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kitri.web_project.mybatis.mappers.BoardMapper">


    <sql id="responseColumns">
        id, title, writer, created_at as createdAt, content, view_count as viewCount, comment_count as commentCount, like_count as likeCount, category, tag
    </sql>

    <select id="getQnaBoards" parameterType="int" resultType="com.kitri.web_project.dto.QnaInfo">
        SELECT <include refid="responseColumns" />, (SELECT COUNT(*) FROM free_board where subject = 1) AS totalRowCount
        from free_board
        WHERE subject = 1
        order by created_at desc
        limit #{offset}, #{limit}
    </select>

    <select id="getFreeBoards" parameterType="int" resultType="com.kitri.web_project.dto.QnaInfo">
        SELECT <include refid="responseColumns" />, (SELECT COUNT(*) FROM free_board where subject = 0) AS totalRowCount
        from free_board
        WHERE subject = 0
        order by created_at desc
        limit #{offset}, #{limit}
    </select>

    <select id="getQnaBoard" parameterType="int" resultType="com.kitri.web_project.dto.QnaInfo">
        SELECT <include refid="responseColumns" /> FROM free_board
        WHERE subject = 1 and id = #{id}
    </select>

    <insert id="uploadQna" parameterType="com.kitri.web_project.dto.board.RequestBoard">
        INSERT INTO free_board (user_id, content, title, writer, category, tag, subject)
        VALUES (#{id}, #{content}, #{title}, #{writer}, #{category}, #{tag}, #{subject})
    </insert>

    <select id="getWritFreeBoards" parameterType="com.kitri.web_project.dto.board.SearchDTO" resultType="com.kitri.web_project.dto.QnaInfo">
        SELECT <include refid="responseColumns" /> FROM free_board
        WHERE subject = 0 and writer like #{search}
        order by created_at desc
        limit #{offset}, #{limit}
    </select>

    <select id="getContFreeBoards" parameterType="com.kitri.web_project.dto.board.SearchDTO" resultType="com.kitri.web_project.dto.QnaInfo">
        SELECT <include refid="responseColumns" /> FROM free_board
        WHERE subject = 0 and content like #{search}
        order by created_at desc
        limit #{offset}, #{limit}
    </select>

    <select id="getTagFreeBoards" parameterType="com.kitri.web_project.dto.board.SearchDTO" resultType="com.kitri.web_project.dto.QnaInfo">
        SELECT <include refid="responseColumns" /> FROM free_board
        WHERE subject = 0 and tag like #{search}
        order by created_at desc
        limit #{offset}, #{limit}
    </select>
</mapper>