<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kitri.web_project.mybatis.mappers.CommentMapper">

    <select id="getComments" parameterType="long" resultType="com.kitri.web_project.dto.comment.CommentDto">
        SELECT free_board_comment.id as id, user_id as userId, content, created_at as createdAt,  like_count as likeCount,
        nick_name as name
        FROM free_board_comment join user on user.id = user_id
        WHERE board_id = #{id}
    </select>


    <select id="getMyComments" parameterType="long" resultType="com.kitri.web_project.dto.comment.CommentDto">
        SELECT id as id, user_id as userId, content, created_at as createdAt,  like_count as likeCount
        FROM free_board_comment
        WHERE user_id = #{id}
    </select>

    <insert id="addComment" parameterType="com.kitri.web_project.dto.comment.RequestComment">
        insert into free_board_comment (board_id, user_id, content)
        values (#{id}, #{userId}, #{content})
    </insert>

</mapper>